*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.header{
    padding:14px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    text-align: center;
    text-decoration: none;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 14;
}
.header img{
    height: 50px;
    margin-left: 56px;
}
.header ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    margin-right: 10px;
    margin-left: 20%;
}
.header ul>li{
    text-decoration: none;
    margin-left:30px ;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
}
.header ul>li:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transition:linear;
    transition-duration: 0.3s;
}
.header button{
    padding: 10px 0 10px 0;
    background-color: blue;
    text-align: center;
    font-weight: 600;
    width: 100px;
    height: fit-content;
    border-radius: 30px;
    padding-left: 0;
    
}
.header button>a:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transition:linear;
    transition-duration: 0.3s;
}
.header button a{
    color: white;
    padding: 5px 0px 5px 0;
}
.header butter:hover{
    cursor:pointer
}
.dropdown {
    cursor: pointer;
    padding-left: 20px;
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0 10px;
}

.dropdown li:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: linear;
    transition-duration: 0.3s;
}

.dropdown li {
    padding: 10px 10px 10px 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 15;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    margin: 0;
}

.dropdown-content ul li {
    list-style: none;
    width: 200px;
    padding: 10px;
    margin: 0;
    text-align: left;
}

.dropdown-content a {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
}

.dropdown-content ul>li:hover {
    background-color: #cccccc;
}
footer{
    background-color:#212121 ;
    list-style: none;
    height: 400px;
    padding: 0px;
    width: 100%;
}
.title{
    color: #d3d3d3;
    margin-left: 140px;
    padding-top: 40px;
}
.lists{
    height:75%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.lists ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size:18px;
}
.lists h4{
    margin-left: -20px;
    margin-bottom: -30px;
    color: #6a6a6a;
    padding: 10px;
    font-size: 18px;
}
footer p{
    color: #6a6a6a;
    padding-bottom: 20px;
    padding-left: 80px;
}
footer p>a{
    color: rgb(0, 203, 203);
}
.footer-container{
    height: 75%;
    display: flex;
    justify-content: space-between;
}
footer a{
    text-decoration-color: rgb(59, 104, 253);
}
footer a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(19, 74, 255);
    transition-duration: 0.5s;
    
}
.newsletter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}
.newsletter h4{
    color: #6a6a6a;
    font-size: 18px;
}
.subscribe{
    color: #d3d3d3;
    margin-top: -20px;
}
