*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    padding-top: 80px;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    padding:14px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    text-align: center;
    text-decoration: none;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.header img{
    height: 50px;
    margin-left: 56px;
}
.header ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    margin-right: 10px;
    margin-left: 20%;
}
.header ul>li{
    text-decoration: none;
    margin-left:30px ;
    list-style: none;
}
.header button{
    padding: 10px 0 10px 0;
    background-color: blue;
    text-align: center;
    font-weight: 600;
    width: 100px;
    height: fit-content;
    border-radius: 30px;
    padding-left: 0;
    
}
.header button a{
    color: white;
}
.header butter:hover{
    cursor:pointer
}
footer{
    background-color:#212121 ;
    list-style: none;
    height: 400px;
    padding: 0px;
}
.title{
    color: #d3d3d3;
    margin-left: 140px;
    padding-top: 40px;
}
.lists{
    height:75%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.lists ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size:18px;
}
.lists h4{
    margin-left: -20px;
    margin-bottom: -30px;
    color: #6a6a6a;
    padding: 10px;
    font-size: 18px;
}
footer p{
    color: #6a6a6a;
    padding-bottom: 20px;
    padding-left: 80px;
}
footer p>a{
    color: rgb(0, 203, 203);
}
.footer-container{
    height: 75%;
    display: flex;
    justify-content: space-between;
}

.newsletter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}
.newsletter h4{
    color: #6a6a6a;
    font-size: 18px;
}
.subscribe{
    color: #d3d3d3;
    margin-top: -20px;
}
